
@media screen and (min-width: 769px) {
    .main {
        width: 55%;
        padding-right: 16px;
        float: left;
    }
    .hidden-on-desktop {
        visibility: hidden;
    }
    h1 {
        float: left;
    }
    .nav-links {
        list-style-type: none;
        display: table;
        margin: auto 0 auto auto;
        padding: 1em;
    }
    li {
        display: inline-block;
        padding: 1em;
    }
    img {
        display: table;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .sub-section {
        clear: right;

    }
    footer {
        position: relative;
        top: 5em;
    }
}
#social-media-links {
    display: flex;
    float: right;
}
#social-media-links a {
    margin-left: .5em;
}
.faceb {
    width: 30px;
    height: auto;
}
.twitt {
    width: 30px;
    height: auto;
}
.insta {
    width: 30px;
    height: auto;
}
@media screen and (max-width: 768px) {
    .alert-info {
        border: 2px solid #CCD2D2;
        background-color: #CBFFFF;
        margin: 0 auto;
        display: flex;
        text-align: center;
        padding: 1em 38%;
    }
    .alert-info a {
        text-decoration: none;
        color: black;
    }
    img {
        max-width: 100%;
        height: auto;
        margin: 10px 0;
    }
    h1 {
        margin: 0 auto .6em auto;
        text-align: center;
        font-size: 4em;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }
    li {
        text-decoration: none;
        text-align: center;
        padding: 1em 7em;
        background-color: grey;
        border: 4px solid white;
        font-weight: bold;
    }
    footer {
        position: relative;
        top: 5em;
        margin-bottom: 1em;
    }
}
