.hidden-on-desktop {
    visibility: hidden;
}
 h1 {
     float: left;
 }

.nav-links {
    list-style-type: none;
    display: table;
    margin: auto;
    margin-right: 0;
    padding: 1em;
}

li {
    display: inline-block;
    padding: 1em;
}

img {
    display: table;
    margin: 0 auto;
}

.main {
    width: 60%;
    float: left;
}

.sub-section {
    clear: right;
    /*margin-bottom: 10em;*/
}

footer {
    position: relative;
    top: 5em;
}
#social-media-links {

}

@media screen and (max-width: 768px) {
    .alert-info>a {
        border: 2px solid #CCD2D2;
        background-color: #CBFFFF;
        visibility: visible;
        margin: 0 auto;
        text-align: center;
        display: table;
        padding: 1em 7em;
    }
    img {
        /*display: inline-block;*/
        max-width: 100%;
        height: auto;
    }
}
